---
const {image} = Astro.props
---

<section class="relative w-full hero-section" style="height: 1040px">
  <div class="absolute inset-0 bg-black/50 z-10"></div>
  <div
    class="absolute inset-0 bg-cover bg-center bg-attachment-fixed bg-fixed z-0"
    style={`background-image: url('${image}');`}
  >
  </div>
</section>
<style>
  @media (max-width: 768px) {
    .hero-section {
      height: 75vh !important;
    }
  }
</style>

