<section class="relative w-full hero-section" style="height: 1040px">
  <div
    class="absolute inset-0 bg-cover bg-center bg-attachment-fixed bg-fixed"
    style="background-image: url('https://blog.viajesmachupicchu.travel/wp-content/uploads/2023/07/tambopata-4.jpg');"
  >
  </div>
</section>
<style>
  @media (max-width: 768px) {
    .hero-section {
      height: 75vh !important;
    }
  }
</style>
