---
import BlogCard from "./BlogCard.astro";

const cards = [
  {
    category: "SAN MARTIN - PERU",
    title: "BOSQUE DE",
    subtitle: "ALTA MAYO",
    imageUrl:
      "https://ciorg.imgix.net/images/default-source/default-album/ci_24662346",
    altText: "Picnic scene with planning notebooks, flowers and food",
  },
  {
    category: "LAMBAYEQUE - PERU",
    title: "BOSQUE DE",
    subtitle: "POMAC",
    imageUrl:
      "https://cdn.www.gob.pe/uploads/document/file/5472577/871555-01-jpeg.jpg",
    altText: "Person wearing a faux fur coat on a street",
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2">
  {cards.map((card) => <BlogCard {...card} />)}
</div>
