---
import { TeaserCard } from "./components";

interface Props {
  cards: {
    category: string;
    title: string;
    subtitle: string;
    imageUrl: string;
    altText: string;
    id: string;
  }[];
}

const { cards } = Astro.props;
---

<section class="grid grid-cols-1 md:grid-cols-2">
  {cards.map((card) => <TeaserCard id={card.id} {...card} />)}
</section>
