---
interface Props {
  quaternaryImageUrl: string;
  quaternaryImageAlt: string;
  bottomQuote: string;
}

const { quaternaryImageUrl, quaternaryImageAlt, bottomQuote } = Astro.props;
---

<div class="mt-24 lg:mt-0">
  <div class="grid md:grid-cols-2">
    <img
      loading="lazy"
      src={quaternaryImageUrl}
      alt={quaternaryImageAlt}
      class="object-cover w-full h-[500px]"
    />
    <div
      class="font-playfair-display uppercase text-neutral-950 text-left leading-[1.2] relative md:-left-[100px] text-5xl top-0 bottom-0 my-auto"
      set:html={bottomQuote}
    />
  </div>
</div>


