<div class="py-8 px-12">
  <div class="flex items-center justify-center max-w-4xl w-full flex-wrap">
    <div
      class="text-2xl md:text-4xl italic font-light mr-4 font-brittany-signature"
    >
      Siguenos en
    </div>
    <div class="text-2xl md:text-4xl font-light font-playfair-display">
      @CAMINOVALIENTE
    </div>
    <div class="ml-4 h-[1px] hidden sm:block bg-stone-800 flex-grow"></div>
  </div>
</div>
